---
influxdb:
  url: http://localhost:8086
  user: my_user
  password: my_password
  source_db: sourcedb
  target_db: targetdb

start_date: 2022-01-01
until_ts_offset: 5m
base_path: /mig-perf-data/whisper/icinga2